<div class="container">
  <h2 style="text-align: center;">Posts</h2>
  <hr>
  <h3>Admin: <%=@author%></h3> 
  <ul class="list-group">
    <% @posts.each do |post| %>
      <li class="list-group-item">
        <%= post[:title] %> - <%= post[:body] %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Estudantes", estudantes_path %> <%# <a href="/estudantes">Estudantes</a> %>
</div>